<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
          <form action="#home">
            <button type="submit">Home</button>
          </form>

          <form action="#warehouse">
            <button type="submit">Warehouse</button>
          </form>
          <form action="#customers">
            <button type="submit">Customers</button>
          </form>
          <form action="#orders">
            <button type="submit">Orders</button>
          </form>


        </ul>
    </div>
</div>
